<ion-modal-view>
  <ion-content>

    <div class="list">
      <div class="item item-text-wrap">
        No internet connection right now? Enter the app using offline mode to create drafts. Use these drafts to send once you have internet connection
      </div>
      <div class="item">
        <button class="button button-block button-balanced">
          Continue
        </button>
        <button class="button button-block button-assertive" ng-click="offline_close()">
          Cancel
        </button>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
